Here is a form to create a user

<div class="container">

<h1>Hello!  Please create an account.</h1>

<%= form_for(@user) do |form_builder|%>
  First name: <%= form_builder.text_field :first_name %>
  Last name: <%= form_builder.text_field :last_name %>
  Email: <%= form_builder.text_field :email %>
  Password: <%= form_builder.password_field :password %>
  <%= form_builder.submit %> <%= link_to 'Cancel', root_path  %>
<% end %>


</div>
